.idea/
output/
dependency-reduced-pom.xml
logback-test.xml
gradlew.bat
nohup.out

*.classpath
*.project
*.settings
*.idea
*.crc
*.iml
*.pyc

.DS_Store
.gradle

build
target
gen-loc
out
tmp
temp
classes
log
logs
audit
data
